.center-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 90px);
    position: relative;
    margin: auto;
}

.box {
    width: max-content;
    height: max-content;
    padding: 3%;
    border: 1px solid;
}

.form-footer {
    display: flex;
    justify-content: space-between;
}